{% autoescape off %}
Hi {{ order.first_name }} {{ order.last_name }},

Your Order Request has been sent to Cokedama -- Someone from the cokedama team will contact you shortly to process this order Request.

    Order ID: {{ order.id }}

    Your order
    <div class="order-info">
    <ul>
      {% for item in basket %}
        <li>
          {{ item.image.url }} {{ item.title }} --  Rs. {{ item.total_price }}
        </li>
      {% endfor %}
    </ul>
    <p>Total: Rs. {{ basket.get_total_price }}</p>
  </div>

    Best,
    Cokedama Team
    http://{{ domain }}
{% endautoescape %}